%h1= @chat_room.name

#messages
  = render @chat_room.messages

= form_with model: [@chat_room, @message], url: chat_room_messages_path(@chat_room) do |f|
  = f.label :content
  = f.text_area :content
  = f.submit

:javascript
  App.cable.subscriptions.create({ channel: "ChatRoomsChannel", chat_room_id: #{@chat_room.id} }, {
    connected() {
      console.log("Connected to the channel:", this);
    },
    disconnected() {
      console.log("Disconnected");
    },
    received(data) {
      console.log("Received some data:", data);
      updateDataRealTime(data)
    },
  })
  function updateDataRealTime(data) {
    const messagesDiv = document.getElementById('messages')
    const content = `<p><strong>${data.user.email}</strong>: ${data.content}</p>`;
    messagesDiv.innerHTML += content
  }